# sql connection string
ConnectionString = "Data Source=localhost,1433;Initial Catalog=assignment;User ID=sa;Password=<密碼>;Pooling=False;Encrypt=True;Trust Server Certificate=True;Authentication=SqlPassword;Application Name=azdata-GeneralConnection"